* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  background: linear-gradient(to bottom, #98decc 0%,#98decc 50%,#000000 50%,white 50%,white 100%);
  max-width: 800px;
  position: static;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.tittle-card {
  color: #637c97;
  font-family: sans-serif;
  font-size: 1.3em;  
  padding: 8px 12px;
  position: static;
  bottom: 18px;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.text-card {
  color: #c9d2d6;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.center {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 16px;
    width: 350px;
    height: 550px;    
    border-radius: 2%;
}

.img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-left: 28%;
  margin-top: 25%;
}